.search-form {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $black;
  padding-bottom: 20px;
  margin-bottom: 20px;

  &__label {
    display: none;
  }

  &__input {
    padding: 10px 15px;
    width: 100%;
    border: 1px solid $input;
    @include borderRadius(100px);
    outline: none;

    &:focus {
      border: 1px solid $inputFocus;
    }
  }
}